<% if (locals.errors){%>
    <h1 class="error-txt">Error</h1>
    <ul class="errors-list">
        <% errors.forEach((error)=> {%>
            <li>
                <%= error.msg%>
            </li>
            <%})%>
    </ul>
    <%}%>