<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <form action="/food/addFood" method="POST">
        <div>
            <label for="foodName">Enter the name of the food</label>
            <input type="text" name="foodName" id="foodName"/>
        </div>
        <div>
            <label for="foodDesc">Enter the food description</label>
            <input type="text" name="foodDesc" id="foodDesc"/>
        </div>
        <select name="category">
            <option>Please choose the category you want to add the food to</option>
            <% categories.forEach((category) => {%>
                <option value="<%=category.id%>"><%= category.category_name%></option>
            <%})%>
        </select>
        <button type="submit">Add food</button>
    </form>
    <%- include("partials/errors.ejs")%>
</body>
</html>