<div class="categories-container">
    <a class="main-link" href="/">Homepage</a>
    <h1>Categories</h1>
    <ul class="categories-list">
        <% if (locals.categories) {%>
            <% categories.map((category)=> {%>
                <li>
                    <a href="/<%=category.id%>">
                        <%= category.category_name%>
                    </a>

                </li>
                <%})%>
                    <%}%>
    </ul>
</div>