<div class="categories-container">
    <h1>Categories</h1>
    <ul class="categories-list">
        <a href="/">Homepage</a>
            <% if (locals.categories) {%>
                <% categories.map((category) =>  {%>
                    <li>
                        <a href="/<%=category.id%>">
                            <%= category.category_name%>
                        </a>

                    </li>
                <%})%>
            <%}%>
    </ul>
</div>
