<ul>
        <% if (locals.food) {%>
            <% food.map((product) =>  {%>
                <li>
                    <%= product.food_name%>
                </li>
            <%})%>
        <%}%>
        
    </ul>