<ul class="food-list">
    <% if (locals.food) {%>
        <% food.map((product) =>  {%>
            <li class="card">
                <a href="/food/<%=product.id%>"><%= product.food_name%></a>
             </li>
        <%})%>
    <%}%>
</ul>