<ul>
        <% if (locals.food) {%>
            <% food.map((product) =>  {%>
                <li>
                    <a href="/food/<%=product.id%>"><%= product.food_name%></a>
                    <a href="/food/<%=product.id%>/editProduct">Edit</a>
                </li>
            <%})%>
        <%}%>
        
    </ul>