<header class="header">
    <h1>Food Inventory App</h1>
    <div>
        <a class="btn" href="/createCategory">Add Category</a>
        <a class="btn" href="/food/addFood">Add Food</a>
    </div>

</header>