:root{
    --main-color:  rgb(20, 31, 34);
    --secondary-color: rgb(57, 219, 123);
    --additional-color1: rgb(32, 46, 55);
    --additional-color2:  rgb(24, 37, 44);
    --additional-color3: rgb(224, 231, 243);
    
}

html{
    height: 100vh;
}

*{
    box-sizing: border-box;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

body{
    background-color: var(--main-color);
    color: white;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--additional-color3);
}
.header-btns{
    display: flex;
    gap: 2rem;

}

.btn{
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--additional-color1);
    font-size: 1.2rem;
    text-align: center;
    transition: color 0.3s ease-in-out, background-color 0.4s ease-in-out;
    
}
.btn:hover{
    color: var(--secondary-color);
    background-color: var(--additional-color1);
}

.btn-2{
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--additional-color1);
    color: var(--secondary-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    transition: color 0.3s ease-in-out, background-color 0.4s ease-in-out;
    cursor: pointer;
}

.btn-2:hover{
    background-color: var(--secondary-color);
    color: var(--additional-color1);
}

.card{
    border: 5px solid var(--additional-color2);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card a{
    transition: color 0.3s ease;
}

.card a:hover{
    color: var(--secondary-color);
}

.food-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;

}

.food-container{
    text-align: center;
    width: 100%;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;


}

.body-container{
    display: flex;
   height: 100vh;
}



.categories-container{
    padding: 2rem;
    background-color: var(--additional-color2);
    height: 120vh;
    display: flex;
    flex-direction: column;


    
}

.categories-list{
    margin-right: auto;
   font-size: 1.5rem;
   padding-left: 0;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    gap: 2rem;
}

.form-container{
    margin-top: 3rem;
    width: 20rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--additional-color2);
    border-radius: 2rem;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input{
    border: none;
    border-radius: 1rem;
    width: 100%;
    padding: 0.4rem 0.8rem;
    margin-top: 0.5rem;
    color: white;
    background-color: var(--main-color);
}

input:focus{
    outline: none;
}

.singleProduct-container{
    margin-top: 3rem;
    border: 5px solid var(--additional-color2);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

select{
    border-radius: 2rem;
    padding: 0.4rem 0.8rem;
    background-color: var(--main-color);
    color: white;
    appearance: none;
    outline: none;
    margin-top: 0.5rem;
    border: none;
    width: 12rem;
}
select:hover{
    cursor: pointer;
}

.select-container{
    display: flex;
    flex-direction: column;
}


.error-txt{
    color: var(--secondary-color);
    text-align: center;
}

.errors-list{
    color: var(--secondary-color)
}

.category{
    display: flex;
    flex-direction: column;
    border: 5px solid var(--additional-color2);
    color: var(--additional-color3);
    margin-top: 3rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.products-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.product{
    font-size: 1.3rem;
}

.category-header{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.main-link{
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-color)
}

@media (max-width: 768px){
    .body-container{
        flex-direction: column;
    }
    .categories-container{
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .categories-list{
       margin: auto;
    }

    .products-list{
        grid-template-columns: 1fr;
       
    }
    .category{
         width: 80%;
    }
    .btn-2{
        font-size: 1rem;
    }
}